#navBar {
  margin-top: 1%;
}

.navBar {
  font-size: 18px;
}

#logo {
  height: 100%;
  width: 30%;
  max-height: 40px;
  max-width: 50px;
}

.fb-share-button {
  height:5%;
  width: 10%;
}

.profileRow {
  height: 30%;
  border: 3px solid lightskyblue;
}

.wardrobeRow {
  border: solid 2px lightskyblue;
  height: 80%;
  margin-top: 5%
}

.wardrobeImage {
  display: inline-block;
  margin: 1%;
  border: 3px solid lightskyblue;
  border-radius: 4px;
  padding: 1%;
}

.profileBox {
  border: solid 3px lightskyblue;
  margin-top: 1%
}

#profilePic {
  margin: 1%;
  margin-left: 38%;
}

#userName {
  text-align: center;
}

.infoBar {
  border: solid 2px lightskyblue;
  position: absolute;
  top: 80%;
  height: 20%;
  width: 95%;}

.infoBox {
  display: inline-block;
  text-align: center;
  border: solid 2px lightskyblue;
  border-radius: 3px;
  width: 25%;
  height: 100%;
}

.imageBox {
  display: inline-block;
  height: 200px;
  width: 200px;
  margin: 1%;
  padding-left: 1%;
  padding-right: 1%;
  border: 3px solid lightskyblue;
  border-radius: 4px;
}

.lookBox {
  height: 200px;
  width: 200px;
  margin: 1%;
  padding: 2%;
  border: 3px solid lightskyblue;
  border-radius: 4px;
}

.categoryBox {
  margin-top: 4%;
}

.trendBox {
  margin-top: 4%;
}

.ps-top-to-bottom {
  position: relative;
  border-top: 3px solid lightskyblue;
  vertical-align: middle;
}

.ps-top-to-bottom:before, .ps-top-to-bottom:after {
  content: "";
  position: absolute;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
  background-image: -webkit-linear-gradient(#000, transparent);
  background-image: -moz-linear-gradient(#000, transparent);
  background-image: -o-linear-gradient(#000, transparent);
  background-image: linear-gradient(lightskyblue, transparent);
  top: -3px;
  bottom: -3px;
  width: 3px;
}
.ps-top-to-bottom:before {
  left: -3px;
}
.ps-top-to-bottom:after {
  right: -3px;
}

h5 {
  text-align: center;
}
