#navBar {
  margin-top: 1%;
}

#logo {
  height: 100%;
  width: 30%;
  max-height: 40px;
  max-width: 50px;
}

.fb-share-button {
  height:5%;
  width: 10%;
}

.imageBox {
  height: 200px;
  width: 200px;
  padding: 5px;
  border: 2px solid lightskyblue;
  border-radius: 1px;
}

.lookBox {
  height: 200px;
  width: 200px;
  padding: 5px;
  border: 2px solid lightskyblue;
  border-radius: 1px;
}

.categoryBox {
  margin-top: 3%;
}

.trendBox {
  margin-top: 3%;
}

.ps-top-to-bottom {
  position: relative;
  border-top: 3px solid lightskyblue;
  vertical-align: middle;
}

.ps-top-to-bottom:before, .ps-top-to-bottom:after {
  content: "";
  position: absolute;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
  background-image: -webkit-linear-gradient(#000, transparent);
  background-image: -moz-linear-gradient(#000, transparent);
  background-image: -o-linear-gradient(#000, transparent);
  background-image: linear-gradient(lightskyblue, transparent);
  top: -3px;
  bottom: -3px;
  width: 3px;
}
.ps-top-to-bottom:before {
  left: -3px;
}
.ps-top-to-bottom:after {
  right: -3px;
}

h5 {
  text-align: center;
}
